#howTo_zap #etape_rp { background:none;}
#howTo_zap #etape_ins { background: none;}
#howTo_zap #etape_vez { background: none;}

#tease_duz #duz_img { width: 215px;}
#tease_duz #duz_text { width: 543px;margin-left: 12px;}
#tease_duz li{ float: left;}
h1{ clear:both;}
