body{ 	font-family: arial, sans-serif; }

strong { font-weight: bold;}

a, a:link, a:active, a:visited { 	color: #0071a6; text-decoration: none;}
a:hover { text-decoration: underline;}

h1 { font-weight: bold; font-size: 18px;text-transform: uppercase; color:#0071a6; padding-top: 5px;}

h3 { color: #0071a6; font-size: 2.5em; font-weight: bold; }

.indice, .indice a:link, .indice a:visited, .indice a:active { font-size: 0.7em; color: #0071a6; }

#conteneur { 	padding:0 1.5em; position: relative; border-top: 5px solid #C3CF21;}

/* Style pour le menu global */
#menu {  clear: both; position: relative; margin: 0 auto; width: 900px;}
#menu li { 		float: left; width: 224px; height: 52px;}
#menu li a { 	display: block; width: 100%; height: 100%; border:0;}
#menu_oslz { 	background: transparent url(images/menu_oslz.png);}
#menu_nouv { 	background: transparent url(images/menu_sprite.png) scroll 0 -0;}
#menu_tsz { 	background: transparent url(images/menu_sprite.png) scroll 0 -104px;}
#menu_contact { 	background: transparent url(images/menu_sprite.png) scroll 0 -208px;}

#menu .nouv_active {background: transparent url(images/menu_sprite.png) scroll 0 -52px;}
#menu .tsz_active {background: transparent url(images/menu_sprite.png) scroll 0 -156px;}

p.title, h2.title { 	font-size: 22px; text-align: center; margin-top: 47px; height: 59px; padding: 0 112px; }
body h2.title { padding: 0;  margin-top: 10px;height: 30px;}
#langues{ 	float: right; height: 30px;}
#langues li { display: inline;}

#bandeau { position: relative; clear: both; height: 220px;}
#bandeau a { display: block; width: 100%; height: 100%; }
#logo { width: 111px; height: 176px; position: absolute; left: 50px; top: 20px;}
#zsd{ position: absolute; right: 0; top:0; width: 665px; height: 220px; background: transparent url(images/nouveau.png); }
#zsd a { display: block; width: 100%; height: 100%; color: transparent; }

#content { 	width: 900px; position: relative; margin: 0 auto; clear: both; padding-top: 20px;}
.more a:link, .more a:visited, .more a:active { 	font-weight: bold;}

.graybox #text_content { width: 560px; padding: 0 15px; float:left;}
.graybox { 	background: transparent url(images/back_content_tsz.gif) repeat-y; width: 100%; position: relative; margin-bottom: 50px;}
.graybox #haut { 	background: transparent url(images/top_graybox.gif) no-repeat; height: 10px;}
.graybox #bas { 	background: transparent url(images/bottom_graybox.gif) no-repeat; height: 6px; position: absolute; bottom:0; left:0; width:900px;}

.graybox h3 { font-size: 1.3em; margin-top: 1.5em;}

.graybox p { margin: 10px 0; font-size: 14px;}

.pagenav , .categories, .cat_list, .linkcat, .meta { text-transform: uppercase;border: 1px solid #b4b4b4; border-top-color:white; border-right: 0;}

.graybox .clearer { clear:both; height: 50px;}

 /* style du tease pour devenir une zap */
#tease_duz li{ display: inline-block; height:63px; margin-top: 40px;}
#tease_duz #duz_img { background: transparent url(images/howtozap.png) no-repeat; width: 215px;}
#tease_duz #duz_text { background: transparent url(images/text_tease_duz.gif) no-repeat; width: 547px;margin-left: 21px;}
#tease_duz a { display: block; height: 100%; width: 100%;}

/* titre pour la page d'accueil' */ 
#derniere_nouv { margin: 40px 0 10px 13px; display: block; width: 480px; height: 45px; background: transparent url(images/title_nouv.gif) no-repeat; }
#howTo_zap { clear: both; height: 190px; width: 100%; padding-top: 40px; position: relative; margin: 0 auto 30px auto;}

#howTo_zap li { 	width: 33%; height: 185px; float: left;  position: relative; text-align: left; }
#howTo_zap li span { margin-right: 15px; margin-left: 15px; display: block; }

.sub-title { 	height: 86px; font-weight: bold; font-size: 1.5em; padding-left: 4.5em; text-align: left;}

#howTo_zap #etape_rp { background: transparent url(images/1.gif) no-repeat scroll center 70px;}
#howTo_zap #etape_ins { background: transparent url(images/2.gif) no-repeat scroll center 70px;}
#howTo_zap #etape_vez { background: transparent url(images/3.gif) no-repeat scroll center 70px; margin-right: 0;}

.icone{width: 72px; height: 63px; position: absolute; top:0; left:0;}

#etape_rp .sub-title { padding-top: 0.5em}
#etape_rp .icone { background: transparent url(images/howtozap.png) no-repeat scroll 0 0 ;}
#etape_ins .sub-title, #etape_vez .sub-title { padding-top: 1em; margin-bottom: -0.5em;}
#etape_ins .icone { background: transparent url(images/howtozap.png) no-repeat scroll -70px 0; }
#etape_vez .icone { background: transparent url(images/howtozap.png) no-repeat scroll -140px 0;}
#etape_vez .more { float: right; padding-top : 1em;}



#news_feed { padding: 15px; width: 275px; border-left: 1px solid #d0d0d0; position: absolute; top: 0; right:0;}
#news_feed li{ 	padding-bottom: 10px; font-size: 1em; color: #0071a6;}
#news_feed li a:link, #news_feed li a:visited { color: #0071a6;}
#derniere_news{ 	width: 562px; padding: 21px 15px 19px 16px; border-right: 1px solid white; position: absolute; top: 0; left: 0;height: 275px;}
#derniere_news .title, #news_feed .title { font-size: 18px; color: #0071a6; font-weight: bold;}

#sponsors { 	position: relative; margin: 0 auto; width:900px; margin-top: 30px;}
#sponsors  li{ 	display: inline; margin-left: 60px;}

#bandeau_mjz { display: block; background: transparent url(images/bandeau_bottom.jpg) no-repeat scroll center center; width: 100%; height: 215px; color: transparent; margin-top: 50px;}

/* Style pour la page Tout sur Zap */
#title_tsz { background: transparent url(images/titles.gif) no-repeat scroll 0 -87px; height: 45px;margin: 40px 0 12px -10px;}
#carte_p_a { position: relative; margin: 0 auto; border:0;}

#sidebar { float:right; width: 305px; margin-left: 3px; background: transparent url(images/back_news_indi.gif) repeat-y scroll top right;border-left: 1px solid white;}

.graybox h2 { color: #0071a6; font-size: 1.4em ;padding: 5px 0 5px 0; /*border-top: 1px solid #cbcbcb;*/}

#sidebar ul {   border-bottom: 1px solid white;}
#sidebar ul li { font-size: 14px; font-weight: bold; }
#sidebar ul li ul { padding: 10px 0 10px 15px; }
#sidebar ul li ul li { font-size: 0.9em; font-weight: normal;}
#sidebar h2 { padding-left: 15px; font-size: 18px; font-weight: bold;}

#sidebar a:link, #sidebar a:visited, #sidebar a:active { color: #0071a6;}

#liste_pages #recherche{ border-top:0;}
#liste_pages .cat-item, .cat-item-standalone, #liste_pages .page_item { text-transform: uppercase; line-height: 52px; height: 52px; padding-left: 15px; border: 1px solid #b4b4b4; border-right:0;border-top-color: white; font-size: 18px;}

#text_content h2, #text_content h3 { text-transform: uppercase; width: auto; height: auto; margin: 25px 0 10px 0; padding: 0;color: black;}
#text_content h4 { font-weight: bold;}
#text_content h3 { font-size: 14px; margin: 20px 0 10px 0; }
/* Search Form style */
#search { height: 41px; padding: 10px 0 0 11px; border: 1px solid #B4B4B4; border-top:0; border-right:0;}
#search div { float:left;}
#searchsubmit { background: transparent url(images/loupe.gif) no-repeat; width: 26px; border-top: 1px solid white;}
#s, #searchsubmit { border:0; border-top: 1px solid #cdcdcd;height: 27px;}
#s { width: 248px; height: 24px; padding:3px 0 0 4px; font-size: 18px; color: #cfcfcf;font-weight: normal;}
#search_title {  background: transparent url(images/recherche.png) no-repeat scroll 10px 0; height: 45px;margin: 40px 0 12px -10px;}


/* Comment Style */
#comment_box { background: #0071A6; width:900px; color: white;}
#comment_box a:link, #comment_box a:visited, #comment_box a:active { color: white; text-decoration: underline;}
.commentlist .avatar { position: absolute; left: 10px; top: 10px;}
.commentlist li {display: block; position: relative;  padding-bottom: 15px; border-bottom: 1px solid #003879; border-top: 1px solid white; background: transparent url(images/comment_alt.png) repeat-y;}
.commentlist .signature { position: absolute; bottom:5px; right: 10px;}
.commentlist .comment_text { padding: 20px 0 20px 100px; width: 76%; }
.commentlist .alt { background: none; border-top: 0;}
#leave_comment{ height: 290px; position: relative;}
#respond { color: white; padding: 10px 0 10px 15px;}
.mod_warning { padding-left: 100px; font-weight: bold;}
.comment_info { float: left; width: 305px;}
.comment_info input { color: #b4b4b4; line-height: 28px;font-size: 24px;border:0 ;border-top: 1px solid #00547a; margin-left: 25px; height: 28px;width: 280px;}
.comment_info li { margin-bottom:7px;}
#comment_cont { position: absolute;right: 15px;bottom: 62px; }
#comment { width: 550px; border:0 ;border-top: 1px solid #00547a; }
#comment_box #submit { width: 139px; height: 40px; background: transparent url(images/btn_soum.gif) no-repeat; border:0; right: 15px; bottom: -3px;position: absolute; display: block;}
#bas_comment { height: 12px; background: transparent url(images/bottom_comment.gif) no-repeat scroll -1px 0;}
#haut_comment { height: 16px; background: transparent url(images/top_comment.gif) no-repeat;}

/* single news style */
#news_container {background-image: url(images/back_news_indi.gif); overflow: hidden;}
#news_container #haut { background-image: url(images/top_news_indi.gif);}
#news_container #bas { background-image: url(images/bottom_nouv.gif);}
#sidebar #news_feed { position: relative; }
#news_feed h4 { font-weight: bold; }
#news_feed p { font-weight: normal; color:black;}
#news_feed .news { font-weight: normal;}

/* styles pour les bouttons suivant et précédents */
.navigation .alignleft a { display:block; background: transparent url(images/btn_prev.gif) no-repeat; width: 215px;height: 42px;} 
.navigation .alignright a {  display:block; background: transparent url(images/btn_suiv.gif) no-repeat; width: 215px;height: 42px;} 
.navigation .alignright {float:right; }
.navigation .alignleft { float: left;}
.navigation { height: 100px;}

/* Style pour les ligne informative des posts */
.postmetadata { text-align: right; margin: 10px 0 55px 0;}
.postmetadata p { margin:0;}
.postmetadata .share_fb { padding-left: 18px; display: inline-block; background: transparent url(images/logo_fb.gif) no-repeat; }
.postmetadata .share_deli { padding-left: 18px; padding-right: 5px; display: inline-block; background: transparent url(images/logo_del.gif) no-repeat;}

p.post_info, p.post_social { font-size: 12px; line-height: 18px; }


.accueil #news_feed { border:0;}

/* Style pour les pages */
#tout_sur_zap #text_content ul li { list-style-type: disc; margin-left: 25px;}

#tout_sur_zap .legende { text-align: center; text-decoration: underline;font-weight: normal;}
